{% load static %}
{% block style %}<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />{% endblock %}
<div class="main-menu">
    <div class="main-user">
        {% if request.user.is_authenticated %}
            <p>Usuário - {{ user.get_username }} - </p> 
            <a href="{% url 'logout' %}"> Logout</a> 
        {% else %}
            <p>Usuário - Anônimo</p>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    <i id="menu-burguer" onclick="menuClicked()" class="material-symbols-outlined">menu</i>
    <nav >
        <ul id="itens">
            <li><a href="{% url 'index' %}"> <img src="{% static 'assets/icons/icon_home.png' %}" alt=""> Inicio</a></li>
            <li><a href="{% url 'projects' %}"><img src="{% static 'assets/icons/icon_projects.png' %}" alt=""> Projetos</a></li>
            <li><a href="{% url 'contact' %}"><img src="{% static 'assets/icons/icon_contact.png' %}" alt=""> Contato</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'novoprojeto' %}"><img src="{% static 'assets/icons/icon_contact.png' %}" alt=""> novo projeto</a></li>
            {% endif %}
        </ul>
    </nav>
</div>