{% extends 'blog/BASE.html' %}
{% load static %}
{% block title %}Danilosv337 - Inicio{% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/blog/index.css' %}">{% endblock %}
{% block titlemenu %}teste{% endblock%}
{% block content %}
<div class="block-content main-container">
    <div class="main-content-img">
        <img src="{% static 'assets/svg/svg-profile.svg' %}" alt="">
    </div>
    <div class="main-content">
        <h2>Olá, Bem-vindo ao meu site!</h2>
        <p> Me chamo Danilo Dos Santos, estou iniciando na carreira de programação,
             no momento tenho experiência em: </p>
        <p><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg">Python</p>
        <p><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg">Django - Python </p>
        <p>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg">
            HTML & CSS
        </p>
        <p><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg">Mysql</p>
        <p><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" />Java</p>
    </div>
</div>

{% endblock %}